/* Medium Desktop : 992px */

@media (min-width: 991px) and (max-width:1200px){
    html{font-size: 59.5%;}
    .container{max-width:970px;}
    .single-people .people-p {width: 31.7rem;}
    .single-people .people-p3 {width: 31.7rem;}
    .footer-section ul li {padding-left: 3rem;
    padding-right: 3rem;}
}

/* Tablet Desktop : 768px */

@media (min-width: 767px) and (max-width:991px){
    html{font-size: 51.5%;}
    .container{max-width:750px;}
    .offset-md-1 {margin-left: 16.333%;}
    .header-menu ul{display: none;}
    .mobile-menu-bar{display: block;float: right;}
    .service-padding{padding-bottom: 30px;}
    .team-padding{padding-bottom: 80px;}
    .single-people {text-align: center;display: block;}
    .single-people p {display: inline-block;padding-top: 16px;width: 420px;}
    .single-people .people-p {width: 41.7rem;}
    .people-padding {padding-bottom:40px;}
    .footer-section ul li {
    padding-left: 2rem;
    padding-right: 2rem;}
}

/* Large Mobile :480px */


@media only screen and (min-width: 479px) and (max-width:767px){
    html{font-size: 40.5%;}
    .container{max-width:450px;}
    .header-menu ul{display: none;}
    .mobile-menu-bar{display: block;float: right;}
    .bar{margin-top:-15px;}
    .service-padding {padding-bottom: 53px;}
    .team-padding{padding-bottom: 80px;}
    .box {padding-bottom: 15px;}
    .single-people {text-align: center;display: block;}
    .single-people p {display: inline-block;padding-top: 16px;width: 297px;}
    .single-people .people-p {width: 41.7rem;}
    .people-padding {padding-bottom:40px;}
    .name-email input {width: 31rem;}
    .contact-form textarea {width: 65rem;}
    .contact-section .heading p {width: 61.7rem}
    .footer-section ul li {padding-left: 1rem;padding-right: 1rem;}
}

/* small Mobile :320px */

@media only screen and (max-width:479px){
    html { font-size: 42.5%;}
    .container{max-width:300px;}
    .header-menu ul{display: none;}
    .mobile-menu-bar{display: block;float: right;}
    .bar{margin-top:-15px;}
    .heading p {width: 40rem;}
    .service-padding {padding-bottom: 53px;}
    .team-section .heading p {width: 40.7rem;}
    .team-padding{padding-bottom: 80px;}
    .box {padding-bottom: 20px;}
    .single-people {text-align: center;display: block;}
    .single-people p {display: inline-block;padding-top: 16px;width: 230px;}
    .single-people .people-p {width: 25.7rem;}
    .single-people .people-p2 {width: 27.7rem;}
    .single-people .people-p3 {width: 26.7rem;}
    .people-padding {padding-bottom:40px;}
    .name-email { display: block;}
    .name-email input {width: 37rem;}
    .email{padding-left: 0;padding-top:5px; }
    .name{padding-right: 0;padding-bottom: 5px;}
    .contact-form textarea {width: 37rem;}
    .d_none{display: none;}

}








